#!/usr/bin/make -f

export DH_VERBOSE = 1
export PYBUILD_NAME = bluecross

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	# Install udev rules
	install -D -m 644 packaging/udev/99-bluecross-uinput.rules \
		debian/bluecross/etc/udev/rules.d/99-bluecross-uinput.rules
	# Install example config
	install -D -m 644 bluecross.json \
		debian/bluecross/usr/share/bluecross/bluecross.json.example
	# Install systemd user service files
	install -D -m 644 systemd/bluecross-server.service \
		debian/bluecross/usr/share/bluecross/systemd/bluecross-server.service
	install -D -m 644 systemd/bluecross-client.service \
		debian/bluecross/usr/share/bluecross/systemd/bluecross-client.service
